*.pyc
__pycache__/

exemplos.py
Saves/Saves_Better_Winner/*
Saves/Saves_Checkpoint/*
Database/Arquivo_Bruto/*
Database/Arquivos_Por_Data/*
Database/Arquivos_Por_Numero_Read_IA/*
*.csv
*.rar
*/log.txt
*/logs/*


.idea
Include/
Lib/
share/
Scripts/
pyvenv.cfg
venv/